.tourney-font-h1 {
    font-family: "Tourney", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 45px;
    font-variation-settings: "wdth" 125;
  }

.iconTitulo {
    scale: 50%;
}

.semDecoracao {
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #041c41;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logoHeader {
    padding: 15px;
    margin: 15px 0;
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    justify-self: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #fff;
    width: 1000px;
}

nav ul li {
    display: inline;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Tourney", serif;
    margin-left: 25px;
    margin-right: 25px;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.texto_sobre-nos {
    margin: 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.titulo_sobre-nos {
    color: #041c41;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin: 0px;
  }

.sobreNos-imagem {
    margin-right: 50px;
    box-shadow: #041c41 10px 10px 20px;
}

.sobreNosContent {
    display: flex;   
    flex-direction: column;
    justify-content: center;
}

.sobreNosHeader {
    display: flex;   
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.sobreNosSection {
    display: flex;   
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.servicos {
    background-color: #041c41;
    border-bottom: 10px solid #ff0000;
}

.servicosHeader {
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.servicosBody {
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.servicosCarro {
    scale: 70%;
}

.servicosTexto-div {
    display: flex;
    flex-direction: column;
}

.servicosTexto {
    color: #b1d4e0;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin: 5px;
}

.sans-serif-font-h2-branco {
    color: #fff;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  }

  .sans-serif-font-h2-azul {
    color: #041c41;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

h2 {
    color: #041c41;
}

.inicio {
    display: flex;
    flex-direction: row;
}

.titulo_inicio {
    margin: 0px;
    font-style: italic;
    font-size: 40px;
    color: #041c41;
}

.texto_inicio {
    margin: 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.botao_inicio {
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid black;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #fff;
    text-decoration: double;
}

.depoimento {
    display: flex;
    flex-direction: row;
    border-bottom: 20px solid #041c41;
    justify-content: center;
    align-items: center;
}

.depoimento-imagem {
    margin-left: 50px;
    box-shadow: #041c41 10px 10px 20px;
}

.depoimento-card {
    max-width: 1000px;
    background-color: #f4f4f4;
    padding: 5px;
    margin: 15px 0;
    border-left: 5px solid #041c41;
    display: flex;
    flex-direction: row;
}

.contato {
    background-color: #041c41;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
}

.contato-form {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.contato-imagem-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

.contato-smartphone {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.titulo_galeria {
    color: #041c41;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin: 0px;
}

.galeriaHeader {
    display: flex;   
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}

.galeriaIcon {
    margin-left: 20px;
}

.fotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagemGaleria {
    margin: 10px;
    width: 400px;
    height: 250px;
    box-shadow: #041c41 10px 10px 20px;
}

.imagemGaleriaVertical {
    margin: 10px;
    width: 350px;
    height: 530px;
    box-shadow: #041c41 10px 10px 20px;
}

.contentGaleria2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentGaleria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #fff;
    color: #041c41;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #041c41;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: '100%';
}